div{
    text-align: center;
 }
 label{
    text-align: left;
 }
 button{
    background-color: #4CAF50; /* Green */
 }
 h1{
   color: #4CAF50;
 }
 a{
    text-decoration: none;
    color: #4CAF50;
 }
 .a1{
    text-decoration: none;
    color:white;
 }